<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark btn-light" [routerLink]="['nuevo']" routerLinkActive="router-link-active" routerLinkActive="active">Nuevo</button>
            <button type="button" class="btn btn-outline-dark btn-light" [routerLink]="['editar']" routerLinkActive="router-link-active" routerLinkActive="active">Editar</button>
            <button type="button" class="btn btn-outline-dark btn-light" [routerLink]="['detalle']" routerLinkActive="router-link-active" routerLinkActive="active">Detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>